<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{path}/restrict/view/estilo.css"/>
    <title>Aula</title>
  </head>
    <body>
      <nav>
        <div class="container">
          <a href="{uri}">{nome}</a>
          <ul>
            <li>
            <a href="{uri}?class=Form">Formulário</a>
            </li>
            <li>
            <a href="{uri}?class=Tabela">Tabela</a>
            </li>
          </ul>
        </div>
      </nav>
      <section>
        <div class="container">{conteudo}</div>
      </section>
      <footer>
        <div class="container">&copy; CopyLeft</div>
      </footer>
    </body>
</html>