<table>
    <thead>
        <tr>
        <th>Produto</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Editar</th>
        <th>Remover</th>
        </tr>
    </thead>
    <tbody>
        {linha}
        <tr>
          <td>{produto}</td>
          <td>{preco}</td>
          <td>{quantidade}</td>
          <td>
            <button type="button">Editar</button>
          </td>
          <td>
            <button type="button">Remover</button>
        </td>
       </tr>
       {/linha}
    </tbody>
</table>    
